@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Pacifico', cursive;
*/

/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: transparent;
}

button {
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border: none;
}

#root, #__next {
  isolation: isolate;
}

/* variables */

:root {
  --primary: #1565C0;
  --secondary: #E6EFF8;
  --tertiary: #ffffff;
  --max-width: 1086px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  overflow-x: hidden;
  width: 100vw;
}

header, .whyContainer, .howContainer, footer {
  padding: 1rem max(calc((100% - var(--max-width))/2), 2rem);
}

.whyContainer, .howContainer {
  padding-bottom: 4rem;
}

footer {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight:700;
}

.primaryNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
}

.primaryNav .logo img {
  width: 400px;
}

.links {
  display: flex;
  gap: 2rem
}

.primaryNav a {
  color: var(--primary);
}

.desktopHeaderSecondary {
  background-color: var(--primary);
}

.secondaryNav {
  margin: 0 auto;
}

.secondaryNav a {
  color: var(--secondary);
}
.mobileHeader {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heroContainer {
  width: 100%;
  height: 466px;
  background-image: url('./img/hero_troy_university_rushinghallarch_cropped2.jpg');
  background-position: 52.8% 70%;
  background-size: cover;
}

.heroCTAContainer {
  max-width: 1086px;
  margin: 0 auto;
  display: flex;
}

.heroCTA {
  margin: 4rem 6rem;
  width: 389px;
  padding: 2rem;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  border-radius: 10px;
}

.heroCTA h1 {
  font-size: min(2rem, 6vw);
  text-align: left;
}

.heroCTA button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: min(1.5rem, 4vw);
  width: min(169px, 30vw);
  height: min(48px, 10vw);
  border: none;
  border-radius: 48px;
  margin-top: 16px;
}

.whyContainer {
  background-color: var(--tertiary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  text-align: center;
}

.sectionTitle {
  font-size: min(3rem, 8vw);
  margin: 1.2rem;
  text-shadow: 0 4px 4px gray;
  flex-shrink: 1;
}

.cardGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.card {
  background-color: var(--secondary);
  width: min(322px, 80vw);
  border: 3px solid var(--primary);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: min(2rem, 8vw);
  gap: 1rem;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 4px gray;
}

.cardIcon {
  width: 100px;
  height: 100px;
  border: 3px solid var(--primary);
}

.cardTitle {
  font-size: min(1.5rem, 6vw);
  font-weight: 700;
}

.cardContent {
  font-size: min(1.2rem, 5vw);
}

.card button {
  background-color: var(--primary);
  color: var(--secondary);
  width: 200px;
  height: 35px;
  border-radius: 5px;
  font-size: min(1rem, 4vw);
  margin: 10px 0;
}

.howContainer {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardWide {
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  border: none;
  box-shadow: none;
  justify-content: center;
}

.cardWide .cardIcon {
  height: 250px;
  width: 250px;
  background-color: var(--tertiary);
  border-radius: 50%;
  border: none;
}

.cardWide .cardIconMobile {
  display: none;
}

.cardWide .cardIcon img {
  width: 80%;
  margin: 0 auto;
}

.cardGroup>.cardWide:nth-of-type(1)>.cardIcon>img {
  position: relative;
  top: 50px;
  left: 10px;
}

.cardWide__textWrapper {
  width: 60%;
  min-width: min(600px, 80vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cardWide__textWrapper .cardTitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.cardWide__textWrapper .cardContent {
  padding-left: 40px;
  font-size: 28px;
}

footer {
  background-color: var(--primary);
  color: var(--tertiary);
  display: flex;
  flex-direction: column;
}

footer .logo {
  margin: 2rem 0;
}

.footerGroupWrapperOuter {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footerGroupWrapperInner {
  display: flex;
  flex-direction: column;
}

.footerGroupTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.footerGroupWrapperInner>a {
  color: var(--tertiary);
  font-size: 1.3rem;
}

.socialLinksContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  max-width: 380px;
  justify-content: space-between;
  align-self: center;
  margin: 1rem 0;
}

.socialLinksContainer>a:nth-of-type(3) {
  position: relative;
  top: -2px;
}

.copyright, .signature {
  display: flex;
  justify-content: center;
  margin: 0 0 5px 0;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 700;
}

.signature {
  margin-bottom: 14px;
  font-size: 1.1rem;
  font-family: 'Pacifico', cursive;
}

.heartIcon {
  color: red;
  position: relative;
  top: 0px;
  scale: 1.5;
  margin: 0 10px;
}

@media (min-width: 426px) and (max-width: 575px) {
  .heroCTA {
    margin: 4rem 2rem;
  }
}

@media (max-width: 425px) {

  .heroContainer {
    height: fit-content;
  }

  .heroCTAContainer {
    width: 100vw;
    padding: 1rem;
  }

  .heroCTA {
    padding: 1rem;
    margin: 18rem 2rem 1rem 2rem;
    opacity: 0.9;
  }

  .cardWide .cardIcon {
    display: none;
  }

  .cardWide .cardIconMobile {
    display: block;
    width: 200px;
    height: auto;
    margin-top: 1rem;
    padding: 20px 0;
    background-color: var(--secondary);
    border: none;
    align-self: center;
  }

}

@media (max-width: 700px) {
  .footerGroupWrapperOuter {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 620px) {
  .footerGroupWrapperInner {
    width: 100%;
  }
}